<footer style="clear: both;">
    <img src="img/x-footerlogo.png" alt="Be Simple Be Clever" />
    <p>Majority of projects showcased in my portfolio have been designed during my full-time employment at KD Web who owns full rights to the projects.<br />
        &copy; 2014 Be Simple Be Clever / Personal Portfolio of Malgorzata Maryniak, a Creative Director and User Experience Designer   |   <a href="#!/" class="fwrk">WORK</a>   <a href="#!/about">ABOUT</a>   <a href="#!/say-hi" class="awrk">SAY HI</a>   |</p>
</footer>