<section id="container" class="internal">
    <h1>About</h1>
    <div id="floatRight">
        <div id="star">
            <img src="img/img-bigstar-fire.png" alt="star" />
        </div>
        <img src="img/about.png" alt="Malgorzata Maryniak" />
    </div>
    <p>Hi, I'm <span>Malgorzata Maryniak</span>, a <span>UX-minded Creative Director</span> and <span>Visual Interface Designer</span>, born and raised in Poland, but now living in Exeter, Devon.</p>

    <p>I am currently stay-at-home mum crafting simple, user-friendly experiences, beautiful infographics and logos.</p>

    <p>Originally from brand design and print-based background, I have over 10 years commercial experience within a London-based web design agency turning complex ideas and functionality into simple, sophisticated experiences that are engaging and easy to use. </p>
    <p>&nbsp;</p>


    <div class="black">
        <p>Currently undertake various freelance projects.<span>So, <a href="say-hi.html">what can I do for you?</a></span></p>
    </div>
    <ul>
        <li><a href="mailto:malgorzata.maryniak@gmail.com" class="email">Email Me</a></li>
        <li class="nolink">Follow Me On</li>
        <li><a href="http://uk.linkedin.com/pub/malgorzata-maryniak/62/45a/736" target="_blank" class="linked">LinkedIN</a></li>
        <li><a href="https://twitter.com/@besimple_clever" target="_blank" class="twitter">Twitter</a></li>
    </ul>
</section>
