<div id="container">

    <div data-ng-repeat="photo in photos">
        <div deckgrid class="deckgrid">
            <div class="a-card">
                <h1>{{photo.title}}</h1>

                <img data-ng-src="{{photo.src}}">
            </div>
        </div>
    </div>

<div id='myGallery' class='rtg-gallery'>
<div class='rtg-images'>
<div data-category="All,Graphic Design,Web \ UX Design" id="intro">
    <img src='img/holder-img.png' />
    <p class="firstP">Hi, I'm <span class="font">Malgorzata Maryniak</span>, a <span class="font">UX-minded Creative Director</span> and <span class="font">Visual Interface Designer</span>.</p>
    <p class="seconP">I live and work in Exeter, Devon. This is my personal portfolio.</p>
</div>





<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image5" class="various" rel="lightbox[on]">
        <img src='img/transindus/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image5" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Transindus</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>New look for the UK's largest operator of tailor-made and group tours to Asia. Work included: overall look and feel, page schematic.</p>

        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/transindus/img-1a.jpg" class="resize" />
            <img src="img/transindus/img-1b.jpg" class="resize" />
            <img src="img/transindus/img-1c.jpg" class="resize" />
            <img src="img/transindus/img-1d.jpg" class="resize" />
            <img src="img/transindus/img-1e.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/transindus/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->



<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image31" class="various" rel="lightbox[on]">
        <img src='img/kdweb/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image31" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">KD Web</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Website redesign for a digital agency from London. Work included: sitemap, sketches, page schematic, visualisations.</p>
            <a href="http://www.kdweb.co.uk/" target="_blank" class="website" rel="nofollow"></a>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/kdweb/img-1a.jpg" class="resize"  />
            <img src="img/kdweb/img-1b.jpg" class="resize" />
            <img src="img/kdweb/img-1c.jpg" class="resize"  />
            <img src="img/kdweb/img-1d.jpg" class="resize"  />
            <img src="img/kdweb/img-1e.jpg" class="resize"  />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/kdweb/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->





<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image3" class="various" rel="lightbox[on]">
        <img src='img/testefy/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image3" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Testefy</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>New site for a fashion brand by a French designer, Linda Naili. Work included: overall look and feel, page layouts.</p>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/testefy/img-1a.jpg" class="resize"  />
            <img src="img/testefy/img-1d.jpg" class="resize" />
            <img src="img/testefy/img-1c.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/testefy/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->



<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image30" class="various" rel="lightbox[on]">
        <img src='img/healthside/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image30" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Healthside</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Brand and web design for an innovative online tool helping people to take control of their health. Work included: new branding, overall look and feel, page schematic.</p>
            <a href="http://www.healthside.co.uk/" target="_blank" class="website" rel="nofollow"></a>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/healthside/img-1a.jpg" class="resize"  />
            <img src="img/healthside/img-1b.jpg" class="resize" />
            <img src="img/healthside/img-1c.jpg" class="resize"  />
            <img src="img/healthside/img-1d.jpg" class="resize"  />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/healthside/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->

<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image2" class="various" rel="lightbox[on]">
        <img src='img/spruntmedia/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image2" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Sprunt Media</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Interface and user experience design for Sprunt Media, a London-based company providing training courses for the design and construction industry. Work included: overall look and feel, page schematic.</p>
            <a href="http://www.sprunt-media.net" target="_blank" class="website" rel="nofollow"></a>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/spruntmedia/img-1a.jpg" class="resize"  />
            <img src="img/spruntmedia/img-1b.jpg" class="resize" />
            <img src="img/spruntmedia/img-1c.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/spruntmedia/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->



<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image8" class="various" rel="lightbox[on]">
        <img src='img/bobbywhite/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image8" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Bobby White</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Site for one of the leading British jewellery designers. Work included: overall look and feel, page layouts.</p>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/bobbywhite/img-1a.jpg" class="resize"  />
            <img src="img/bobbywhite/img-1b.jpg" class="resize" />
            <img src="img/bobbywhite/img-1c.jpg" class="resize"  />
            <img src="img/bobbywhite/img-1d.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/bobbywhite/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->


<!--Starting point for -->
<div data-category="All,Graphic Design">
    <a href="#image10" class="various" rel="lightbox[on]">
        <img src='img/stonehaven/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image10" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Stonehaven</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Brand design for a leading global executive search firm.</p>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/stonehaven/img-1a.jpg" class="resize"  />
            <img src="img/stonehaven/img-1b.jpg" class="resize" />
            <img src="img/stonehaven/img-1c.jpg" class="resize"  />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->


<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image50" class="various" rel="lightbox[on]">
        <img src='img/fitboard/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image50" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Fitboard (Teamcore)</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Brand and web design for a new social community for everyone who likes keeping active, getting fit and is interested in sport. Work included: new branding, overall look and feel, page schematic.</p>
            <a href="http://www.teamcore.com/" target="_blank" class="website" rel="nofollow"></a>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/fitboard/img-1a.jpg" class="resize"  />
            <img src="img/fitboard/img-1b.jpg" class="resize" />
            <img src="img/fitboard/img-1c.jpg" class="resize"  />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/fitboard/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->




<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image1" class="various" rel="lightbox[on]">
        <img src='img/electricbanana/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image1" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Electric Banana</p>
            <p class="larger">CREATED FOR ELECTRIC BANANA</p>
            <p>Website redesign for an indie music digital magazine that offers the very latest music news, tour news, single reviews, and album reviews. Work included: complete brand refresh, overall look and feel, page schematic.</p>

            <a href="http://www.electric-banana.co.uk/" target="_blank" class="website" rel="nofollow"></a>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/electricbanana/img-1a.jpg" class="resize"  />
            <img src="img/electricbanana/img-1b.jpg" class="resize" />
            <img src="img/electricbanana/img-1c.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/electricbanana/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->



<!--Starting point for -->
<div data-category="All,Graphic Design">
    <a href="#image14" class="various" rel="lightbox[on]">
        <img src='img/cavendish/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image14" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Cavendish Moore</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Brochure for a property investment company.</p>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/cavendish/img-1a.jpg" class="resize"  />
            <img src="img/cavendish/img-1b.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->




<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image6" class="various" rel="lightbox[on]">
        <img src='img/libertine/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image6" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Libertine Consultants</p>
            <p class="larger">CREATED FOR LIBERTINE CONSULTANTS</p>
            <p>Interface design for mobile version of a website for debt consultants from Cape Town in South Africa. Work included: overall look and feel, page layouts.</p>
            <a href="http://www.libertineconsultants.co.za/" target="_blank" class="website" rel="nofollow"></a>

        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/libertine/img-1a.jpg" class="resize"  />
            <img src="img/libertine/img-1b.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/libertine/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->





<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image23" class="various" rel="lightbox[on]">
        <img src='img/raven/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image23" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Raven Resources Group</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>New branding for oil & gas exploration company. Work included: new branding, overall look and feel, page layouts.</p>
            <a href="http://www.raven-resources.com/" target="_blank" class="website" rel="nofollow"></a>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/raven/img-1a.jpg" class="resize"  />
            <img src="img/raven/img-1b.jpg" class="resize" />
            <img src="img/raven/img-1c.jpg" class="resize"  />
            <img src="img/raven/img-1d.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/raven/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->



<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image16" class="various" rel="lightbox[on]">
        <img src='img/findmybeach/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image16" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Find My Beach</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Brand and web design for Europe's favourite online beach destination. Work included: new branding, overall look and feel, page schematic.</p>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/findmybeach/img-1a.jpg" class="resize"  />
            <img src="img/findmybeach/img-1b.jpg" class="resize" />
            <img src="img/findmybeach/img-1c.jpg" class="resize" />
            <img src="img/findmybeach/img-1d.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/findmybeach/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->



<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image17" class="various" rel="lightbox[on]">
        <img src='img/capita/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image17" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Capita Conferences</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Interface and user experience design for the UK's number one provider of public sector conferences. Work included: overall look and feel, page layouts.</p>
            <a href="http://www.capitaconferences.co.uk/" target="_blank" class="website" rel="nofollow"></a>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/capita/img-1a.jpg" class="resize"  />
            <img src="img/capita/img-1b.jpg" class="resize" />
            <img src="img/capita/img-1c.jpg" class="resize" />
            <img src="img/capita/img-1d.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/capita/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->




<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image18" class="various" rel="lightbox[on]">
        <img src='img/lbh/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image18" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">London Bridge Hospital</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>New look for one of the largest private hospitals in the UK providing the highest standard of clinical expertise. Work included: overall look and feel, page layouts.</p>

        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/lbh/img-1a.jpg" class="resize"  />
            <img src="img/lbh/img-1b.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/lbh/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->


<!--Starting point for -->
<div data-category="All,Graphic Design">
    <a href="#image19" class="various" rel="lightbox[on]">
        <img src='img/raven/img-2-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image19" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Raven Resources Group</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Brand design including logo and stationery design for oil & gas exploration company.</p>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/raven/img-2a.jpg" class="resize"  />
            <img src="img/raven/img-2b.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->



<!--Starting point for -->
<div data-category="All,Graphic Design">
    <a href="#image33" class="various" rel="lightbox[on]">
        <img src='img/besimplebeclever/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image33" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Be Simple Be Clever</p>
            <p class="larger">CREATED FOR MY OWN BRAND</p>
            <p>New branding including logo design and business cards.</p>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/besimplebeclever/img-1a.jpg" class="resize"  />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->



<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image21" class="various" rel="lightbox[on]">
        <img src='img/marychocolatier/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image21" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Mary Chocolatier</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>A tasty ecommerce website for a shop selling the finest Belgian chocolates. Work included: overall look and feel, page layouts.</p>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/marychocolatier/img-1a.jpg" class="resize"  />
            <img src="img/marychocolatier/img-1b.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/marychocolatier/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->


<!--Starting point for -->
<div data-category="All,Graphic Design">
    <a href="#image22" class="various" rel="lightbox[on]">
        <img src='img/overseaspension/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image22" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Overseas Pension</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>New design including new logo, brochure and stationery for a specialist provider of international retirement and pension solutions.</p>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/overseaspension/img-1a.jpg" class="resize"  />
            <img src="img/overseaspension/img-1b.jpg" class="resize" />
            <img src="img/overseaspension/img-1c.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->




<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image24" class="various" rel="lightbox[on]">
        <img src='img/sdcl/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image24" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Sustainable Development Capital</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Interface design for a specialist financial advisory and investment firm. Work included: overall look and feel, page layouts.</p>
            <a href="http://www.sdcl-ib.com/" target="_blank" class="website" rel="nofollow"></a>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/sdcl/img-1a.jpg" class="resize"  />
            <img src="img/sdcl/img-1b.jpg" class="resize" />
            <img src="img/sdcl/img-1c.jpg" class="resize"  />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/sdcl/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->


<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image25" class="various" rel="lightbox[on]">
        <img src='img/abcschool/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image25" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">ABC School of English</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Site for a school offering English courses from general English up to advanced level. Work included: overall look and feel, page layouts.</p>
            <a href="http://www.abcschool.co.uk/" target="_blank" class="website" rel="nofollow"></a>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/abcschool/img-1a.jpg" class="resize"  />
            <img src="img/abcschool/img-1b.jpg" class="resize" />
            <img src="img/abcschool/img-1c.jpg" class="resize"  />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/abcschool/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->



<!--Starting point for -->
<div data-category="All,Graphic Design">
    <a href="#image27" class="various" rel="lightbox[on]">
        <img src='img/ress/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image27" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">RESS</p>
            <p class="larger">CREATED FOR RESS</p>
            <p>Brand refresh including logo redesign, brochure and stationery design for South African health and safety consultants.</p>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/ress/img-1a.jpg" class="resize"  />
            <img src="img/ress/img-1b.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->


<!--Starting point for -->
<div data-category="All,Web \ UX Design">
    <a href="#image28" class="various" rel="lightbox[on]">
        <img src='img/morganpryce/img-1-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image28" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">Morgan Pryce</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>New look for experts in office search, negotiation and project management. Work included: overall look and feel, page layouts.</p>
            <a href="http://www.morganpryce.co.uk/" target="_blank" class="website" rel="nofollow"></a>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/morganpryce/img-1a.jpg" class="resize"  />
            <img src="img/morganpryce/img-1b.jpg" class="resize" />
            <img src="img/morganpryce/img-1c.jpg" class="resize"  />
            <img src="img/morganpryce/img-1d.jpg" class="resize"  />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
                <img src="img/morganpryce/img-100.jpg" class="swatch" />
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->


<!--Starting point for -->
<div data-category="All,Graphic Design">
    <a href="#image29" class="various" rel="lightbox[on]">
        <img src='img/kdweb/img-2-bw.jpg'/>
        <article class="hoverEffect"><img src="img/img-hover-fire.png" /></article>
    </a>
    <section id="image29" class="lightbox" style="display: none;">
        <section class="lightHead">
            <p class="title">KD Web</p>
            <p class="larger">CREATED AT KD WEB</p>
            <p>Brand refresh including logo redesign and stationery design for a web design agency from North London.</p>
        </section>
        <section class="white"></section>
        <section class="bigImage">
            <img src="img/kdweb/img-2a.jpg" class="resize"  />
            <img src="img/kdweb/img-2b.jpg" class="resize" />
            <img src="img/kdweb/img-2c.jpg" class="resize" />
            <section class="colorsss">
                <br />
                <br />
                <br />
                <a href="javascript:void(0)" class="top"><img src="img/top.gif" /></a>
            </section>
        </section>
    </section>
</div>
<!--Ending point for -->






</div>
</div>
</div>

