<section id="container" class="internal">
    <h1>Say Hi</h1>
    <div id="floatRight">
        <div id="star">
            <img src="img/img-bigstar-fire.png" alt="star" />
        </div>
        <img src="img/gosia-pic1.png" alt="Malgorzata Maryniak" />
    </div>
    <p>I would love to hear from you. If you have a question, request, need help
        or have feedback, just let me know!</p>
    <p>Call 07743 915 496</p>



    <ul>
        <li><a href="mailto:malgorzata.maryniak@gmail.com" class="email">Email Me</a></li>
        <li class="nolink">Follow Me On</li>
        <li><a href="http://uk.linkedin.com/pub/malgorzata-maryniak/62/45a/736" target="_blank" class="linked">LinkedIN</a></li>
        <li><a href="https://twitter.com/@besimple_clever" target="_blank" class="twitter">Twitter</a></li>
    </ul>
    <form class="contact_form" id="contact_form" action="send.php" method="post" name="contact_form" novalidate>
        <div>
            <input type="text"  name="name" placeholder="Name" id="name" />
        </div>
        <div>
            <input type="email" name="email" placeholder="Email Address" id="email"  >
        </div>
        <div>
            <textarea name="message" cols="40" rows="6" placeholder="Message" id="message"></textarea>
        </div>
        <div>
            <div id="copy">
                <input type="checkbox" name="copy" id="send" />
                <label for="send">send a copy of this email to yourself</label>
            </div>
            <button class="submit" type="submit" >Submit</button>
        </div>
    </form>

</section>
